.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .navbar{
      height:80px;
      width:100%;
      background-color:red;
      position: fixed;
      top:0;
      left:0;
  }

  .menuicon{
    font-size:50px;
    cursor:pointer;
    margin-left: 30px;
  }
  
  .center{
      font-size: 150%;
      margin: 0;
      position:absolute;
      top:50%;
      left:50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }

  .menu{
      grid-area:menue;
    }

    .main{
        grid-area: main;
        background-color: grey;
        margin-top: 30px;
    }

  .grid-container{
      display: grid;
      grid-template-areas: 'menue main main main main main';
      padding:10px;
      grid-gap: 10px;
      margin-top: 70px;

  }

  .grid-container > div{
      color: white;
      text-align:left;
      padding: 20px 0 ;
  }


  ol li{
      padding: 5px;
      color:white;
  }

  body{
      background-color: rgb(38, 38, 38);
  }

  .footer{
      position:absolute;
      width:100%;
      bottom:0px;
      color: white;
  }

body::after {
    content: "";
    background-image: url("bot.png");
    background-repeat: repeat-y; 
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

span{
    color: black
}

::-webkit-input-placeholder { 
    color: #711 
}

#input { 
    border: 0; 
    padding: 5px; 
    border: 1px solid #421; 
}

.vline{
    width:1px;
    height:20px;
    border:1 solid white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;

}

h1{
  font-size: 28px;
  margin-top: -15px;
  margin-left: 15px
}

p{
  font-size: 20px;
  margin-top: -10px;
  margin-left: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.chat{
    background-color: honeydew;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}
